@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }
  
  .focus\:ring-4:focus {
    box-shadow: none !important;
  }
  
  g.Completed > .djs-visual > rect, .Completed > .djs-visual > circle, .Completed > .djs-visual > polygon {
    stroke: green !important;
    fill: #e9f1e8 !important;
  }
  
  g.Completed > .djs-visual > path {
    stroke: green !important;
  }
  
  g.Pending > .djs-visual > rect, .Pending > .djs-visual > circle, .Pending > .djs-visual > polygon {
    stroke: orange !important;
    fill: #dbd9a8 !important;
  }

  .highlight {
    background-color: #ec8fcc; /* Barva zvýraznění */
    transition: background-color 0.2s ease-in-out; /* Plynulé zmizení */
  }
  

div:has( > span > span.errorHighlight) {
  background-color: lightcoral; /* nebo jakákoliv barva, kterou chcete */
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #c0c0c0; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888; 
}